.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 224px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;

  &__icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__text {
    font-size: 30px;
  }
}