.card {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  border-radius: 8px;
  height: s(300, 1920);
  box-shadow: 0 4px 36px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;

  &__icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__text {
    font-size: 30px;
  }
}