// Media Queries ===================================================================================>>>>>>>>

$desktop-4k: 1919;
$desktop-hd: 1439;
$desktop: 1279;
$laptop: 1023;
$tablet: 767;
$tablet-low: 479;
$phone: 320;

// Media Queries ===================================================================================>>>>>>>>

// Project colors ==================================================================================>>>>>>>>

// Colors

$primary-CTA: #00a8e7;
$primary-static: #fff;
$secondary-static: #131215;
$secondary-static-90: #2a292b;
$secondary-background: #f4f3f5;
$secondary-add-ons: #e7e5ea;
$active-correct_60: #ddf216;
$active-correct_100: #96ca01;
$active-incorrect-60: #f68a89;
$active-incorrect-100: #e22526;

// Colors
// Psddings

$primary-inner-content: 0 80px;

// Psddings

// Project colors ==================================================================================>>>>>>>>