// Media Queries ===================================================================================>>>>>>>>

$desktop-4k: 1919;
$desktop-hd: 1439;
$desktop: 1279;
$laptop: 1023;
$tablet: 767;
$tablet-low: 479;
$phone: 320;

// Media Queries ===================================================================================>>>>>>>>

// Project colors ==================================================================================>>>>>>>>

$body-phone: rgb(0, 123, 255);
$body-tablet: rgb(47, 255, 0);
$body-desktop: rgb(255, 0, 153);

// Project colors ==================================================================================>>>>>>>>